version: '3'
services:
  backend:
    build:
     context: ./backend
     dockerfile: dev.Dockerfile
    image: infohub_backend:dev
    ports:
     - "5000:5000"
    volumes:
     - ./backend:/InfoHubAPI
  frontend:
    build:
     context: ./frontend
     dockerfile: dev.Dockerfile
    image: infohub_frontend:dev
    ports:
     - "3000:3000"
    volumes:
     - ./frontend:/usr/src/app
    environment:
     - NODE_ENV=development
    depends_on:
     - backend
  redis:
    image: "redis:alpine"